service vendor.qti.vibrator.xiaomi_kona /system/bin/vendor.qti.hardware.vibrator.service.xiaomi_kona
    user root
    group root
    seclabel u:r:recovery:s0
    setenv LD_LIBRARY_PATH /vendor/lib64:/system/lib64
